@use "../../../general/general__scss/form" as *;
@use "../../../general/general__scss/button" as *;
@use "../../../general/general__scss/alert";
@use "../../../general/general__scss/input-radio" as *;

.form-task {
  @include form;
  padding-top: 10px;
  justify-content: center;
  gap: 5px;
}
.form-task * {
  @include form__child;
}

.form-task__btn {
  @include form__button;
}

.form-task__btn:active {
  @include form__button--active;
}
/* Div Input*/

.form__div {
  display: grid;
  grid-template: repeat(2, minmax(20px, 1fr)) / 1fr 2fr ;
  column-gap: 10px;
  row-gap: 5px;
}

.form__div .form__input{
  max-width: 100%;
}

.form__div .form__label {
  align-self: center
}

.form__input {
  @include form__input; 
}
.form__input::placeholder {
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
}

/*Priority Input*/

.form__fieldset {
  @include form__fieldset;
}

fieldset label, .form__label--hidden {
  font-size: 0px;
}

.fieldset__input-radio {
  @include input-radio($width: 20px, $height: 20px);
  @extend %radio-background
}
.fieldset__input-radio:nth-child(4) {
  width: 40px;
}
.fieldset__input-radio:nth-child(6) {
  width: 60px;
}

.fieldset__input-radio:checked {
  @extend %radio-background--checked;
}

 
 