@use "./colors" as *;

@mixin form__button {
  border: none;
  appearance: none;
  border-radius: 20px;
  background-color: $light-blue;
  color: $white;
  width: 75px;
  height: 50px;
}

@mixin form__button--active {
width: 68px;
height: 48px;
font-size: 11px;
}

@mixin close-btn {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 3px;
  right: 10px;
  border-radius: 100%;
  border: 1px solid $red;
  background-color: $red;
  color: $white;
  background-image: url("../../../src/general/images/svg-x--white.svg");
  background-size: contain;
  background-position: center;
  font-size: 0px;
}