
.complete {
  text-decoration: line-through;
  opacity: 0.5;
}

.table__td--priority.complete {
  position: relative;
}
//crossing out the stars
.table__td--priority.complete::before {
  content: "";
  position: absolute;
  top: 43%;
  width: 45%;
  height: 2px;
  background-color: black;
}