@use  "../../../general/general__scss/colors" as *; 

.main__search-modal--hidden  {
  display: none !important;
}

.p-main__search-modal {
  position: absolute;
  bottom: 0px;
  left: 20px;
  bottom: 20px;


  box-sizing: border-box;
  width: 250px;
  height: 70px;
}

.main__search-modal {
  border-radius: 70px;
  background-color: $red;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-modal__label {
  position: absolute;
  font-size: 1px;
}
.search-modal__input {
  -webkit-appearance: none;
  appearance: none;
  color: $dark-blue;
  height: 25px;
  border: none;
  border-radius: 20px;
  text-indent: 15px;
  
}
.search-modal__input::placeholder {
  color: $light-blue;
}

@-webkit-keyframes swing-in-left {
  0% {
    -webkit-transform: rotateY(100deg);
            transform: rotateY(100deg);
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: 1;
  }
}
@keyframes swing-in-left {
  0% {
    -webkit-transform: rotateY(100deg);
            transform: rotateY(100deg);
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: 1;
  }
}
@-webkit-keyframes swing-out-left {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(100deg);
            transform: rotateY(100deg);
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: 0;
  }
}
@keyframes swing-out-left {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(100deg);
            transform: rotateY(100deg);
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: 0;
  }
}