@use "../../../general/general__scss/colors" as *;
.hidden {
  display: none;
}
.srt-cplt-div {
  display: flex;
  align-content: center;
  justify-content: end;
  gap: 10px;
}
.p-container-task__srt-cplt-div {
  padding: 10px 45px;
}
.p-srt-cplt-div__cplt-btn{
  width: 30px;
  height: 30px;
}
.srt-cplt-div__cplt-btn {
  font-size: 0px;
  background-image: url("../../../../src/general/images/svg-check-square--dark-blue.svg");
  background-position: center;
  background-size: cover;
  border: none;
  background-color: $white;
}

.p-srt-cplt-div__cplt-btn:active {
  width: 25px;
  height: 25px;
}

.srt-cplt-div__srt-btn {
  border: 2px solid $dark-blue;
  border-radius: 5px;
  background-color: $white;
}

.p-srt-cplt-div__srt-btn {
  height: 28px;
}
.task-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  margin: auto;
}
.task-div {
  position: relative;
  width: 250px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;

  margin: auto;
} 

//EDIT BTN && DLT BTN
.task-div__edit-btn, .task-div__dlt-btn {
  font-size: 0px;
  background-position: center;
  background-size: cover;
  background-color: $white;
  border: none;
}
.task-div__edit-btn {
  background-image: url("../../../../src/general/images/svg-edit--dark-blue.svg");
}
.task-div__dlt-btn {
  background-image: url("../../../../src/general/images/svg-x-square--dark-blue.svg");
}

.p-task-div__edit-btn, .p-task-div__dlt-btn {
  position: absolute;
  top: 5px;
}

.p-task-div__edit-btn {
  width: 20px;
  height: 20px;
  right: 30px;
 
}
.p-task-div__edit-btn:active, .p-task-div__dlt-btn:active  {
  width: 18px;
  height: 18px;
}

.p-task-div__dlt-btn {
  width: 21px;
  height: 21px;
  
  right: 5px;
}

.complete {
  text-decoration: line-through;
}
.priority-high {
  border: 2px solid red;
}
.priority-medium {
  border: 2px solid orange;
}
.priority-low {
  border: 2px solid green;
}
 
@media only screen and (max-width: 560px) {
  .srt-cplt-div {
    justify-content: center;
  }
  
} 